.checkout_form {
    margin-left: 30px;
}


.chekcout_label {
    font-size: 18px;
    margin-top: -10px;
    display: flex;
}

.checkout_ticket-num {
    width: 45px;
    height: 25px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(185, 185, 185);
    font-size: 20px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid rgb(165, 165, 165);
    position: relative;
}

.checkout_ticket-num:focus {
    outline: none;
    border-bottom: 1px solid rgb(0, 140, 255);
}

.checkout_total-price {
    font-size: 22px;
    margin-left: 27px;
    margin-bottom: 25px;
    margin-top: -15px;
}


.cart-recep-item span {
    font-weight: bold;

}

@media (min-width:651px) {
    .cart-recep-item {
        font-size: 14px;
        margin-left: 30px;
        overflow-y: scroll;
        height: 12vh;
        margin-bottom: 4vh;
    }
}

@media (max-width:650px) {
    .cart-recep-item {
        font-size: 14px;
        margin-left: 30px;
        overflow-y: scroll;
        height: 16vh ;
        margin-bottom: 20px;
        
    }

}