@media (min-width:750px) {

    .select-user_header {
        font-family: montserrat-black;
        font-size: 35px;
    }

    .select-user_container {
        width: 40vw;
        margin-left: 50px;
        top: 50px;
        position: relative;
    }

    .select-user_input-container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .select-user_input-search {
        width: 35vw;
        height: 40px;
        font-size: 22px;
        padding-left: 15px;
        border: none;
        border-bottom: 1px solid rgb(0, 174, 255);
    }


    .select_user-user-list-container {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 50px;
    }

    .userList_user {
        width: 30vw;
    }

    .userList_user:hover {
        color: rgb(0, 174, 255);
        cursor: pointer;
    }
}

@media (max-width:750px) {
    .select-user_header {
        font-size: 25px;
        margin-bottom: 25px;
    }

    .select-user_container {
        margin-left: 10px;
        top: 15px;
        position: relative;
    }
    .userList_user {
        display: grid;
        grid-template-columns: 20vw 50vw 30vw;
        border-bottom: 1px solid whitesmoke;
        padding: 10px;

    }

    .userList_userid::before {
        content: "#";
    }

    .userList_user:active {
        color: rgb(255, 139, 31);
        cursor: pointer;
    }

    .user-list-header {
        display: grid;
        grid-template-columns: 20vw 50vw 30vw;
        border-bottom: 1px solid whitesmoke;
        border-top: 1px solid whitesmoke;
        padding: 10px;



        
    }

}

.select-user_input-search:focus {
    outline: none;
}